html {

	height:100%;
	margin: 0px;
	padding: 0px;
}
img {
	padding: 0;
	margin: 0;
}
table,tr,td {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: #22D;
	cursor: pointer;
}

a:link,a:visited {
	color: #22D;
}

a:hover {
	color: #00f;
	text-decoration: underline;
}

body {
	background-color: #ddd;
	color: #333;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	
}
#main {
	margin: 20px;
	display: block;

	height: auto !important;
	height: 100%;
}

#wrapper {
	background-color: #fff;
	width: 100%;
	max-width: 1200px;

	height:auto;
	min-height: 100%;
	/*
    left: 50%;
    border-radius: 15px 15px;
    
    */
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	/* 	z-index:-2;*/
}

h1,h2,h3,h4,h5 {
	font-weight: 300;
}

h1 {
	font-size: 30px
}

h2 {
	font-size: 26px
}

h3 {
	font-size: 22px
}

h4 {
	font-size: 18px;
	margin-bottom: 0px;
	margin-top: 35px;
}

h5 {
	font-size: 30px
}


/* legislators */


/* list */
tr.leglist {
	border: 0px;
	border-top: 4px solid #ccc;
}
.leglist > td {
	border: 0px;
}
.tbl_leglist {
	width: 100%;
	border: 0px;
}
.tbl_leglist img{
	display:inline;
	width:150px;
}
.tbl_leglist h2 {
		margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.tbl_leglist >tbody> tr {
	border: 0px;
	border-top: 4px solid #ccc;
}
/* info page */
td.leg_val {
	padding:1px;	
	padding-left: 20px;
}
td.leg_label {
	color: #555;
}
td.leg_info {
	width: 100%;
	padding: 10px;
}
td.leg_info table {
	margin:  10px 0 10px 0;
}

/* vote history */
table.votes 
{
	padding: 10px;	
}
table.votes td
{
	padding: 10px;	
}
table.votes tr:nth-of-type(even) {

	background-color: #ddd;
}
