
.zs_menu_bar,.zs_menu, .zs_menu_sub,.zs_menu_bar
{
margin: 0;
padding: 0;
list-style: none;	
box-sizing: border-box;	
	
}

.zs_menu_bar a:hover
{
	text-decoration: none;
	color: #fff;
	background-color: #8ae;		
}
.zs_menu_bar a
{
	background-color: #68c;
	cursor: pointer;
	color: #eee;
	user-select: none;
	font-weight: 300;
	font-size: 18px;	
	border-spacing: 0px;
	text-align: center;	
	padding: 10px;	
	display: inline-block;		
}

.zs_menu_bar li
{
	display: inline-block;	
	border-right: 1px groove White;	
	
}
.zs_menu, .zs_menu_sub
{
	clear: both;
	position: absolute;
	display: none; 
	z-index: 1;

}
.zs_menu a,.zs_menu li
{
		display: block;	
	
}
.zs_menu_item 
{
		display: list-item;	
	
}
/*
.zs_menu_bar,.zs_menu, .zs_menu_sub,.zs_menu_bar a
{
	background-color: #68c;
	cursor: pointer;
	color: #eee;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 300;
	font-size: 18px;	
	border-spacing: 0px;
	text-align: center;
}
.zs_menu_bar td
{
	padding: 0px;
	margin: 0px;	
	
}
.zs_menu_bar a:hover
{
	text-decoration: none;
	color: #fff;
	background-color: #8ae;		
}
.zs_menu_bar a
{
	padding: 6px;	
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: inline-block;
	overflow: visible;
	white-space: nowrap;	
}
td.zs_menutop
{
	margin-right: 4px;
	padding: 6px;
	border-right: 1px groove White;
}
.menu_bar_item
{
	margin: 0px;
	margin-right: 4px;
	padding: 6px;
	border-right: 1px groove White;	
}

.zs_menu, .zs_menu_sub
{
	
	
	border-collapse: separate;
	clear: both;


	border-style: solid;


	position: absolute;
	display: none; 
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.zs_menu_item_sub, .zs_menu_item_sub_hi
{

	cursor: pointer;
	padding: 4px;

}

.zs_menu_item_sub_hi
{
}

td.zs_menu_link
{
	margin: 0px;
	padding-right: 4px;
}
td.zs_menu_link a
{
	margin: 0px;
	padding-right: 4px;
}


a.zs_menu_link
{
	cursor: pointer;
	margin: 0px;
	color: #fff;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: inline-block;
	overflow: visible;
	white-space: nowrap;

	padding: 6px;
	cursor: pointer;
}


a.zs_menu_link:hover, a.menu_bar_item:hover
{
	text-decoration: none;
	color: #fff;
	background-color: #8ae;		
}

a.zs_menu_link:active, a.zs_menu_link:visited,a.menu_bar_item:active
{
	color: #fff;

}

*/
