
.zs_menu_bar
{
	background-color: #888;
	cursor: pointer;
	color: White;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

td.zs_menutop
{
	padding: 6px;
	border-right: 1px groove White;
}

.zs_menu, .zs_menu_sub
{
	font-family: verdana,sans-serif;
	font-size: small;
	border-collapse: separate;
	-moz-border-radius: 15px;
	clear: both;
	background-color: #888;
	color: White;
	border-radius: 15px;
	padding: 6px;
	margin: 0;
	border-width: 3px;
	border-color: #000080;
	border-style: solid;
	vertical-align: text-bottom;
	cursor: pointer;
	position: absolute;
	display: none; /* width:100%; */
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.zs_menu_item_sub, .zs_menu_item_sub_hi
{
	border-top: 1px solid #888;
	border-left: 1px solid #888;
	cursor: pointer;
	padding: 4px;
}

.zs_menu_item_sub_hi
{
	color: blue;
	background-color: #E5E5E5;
}

td.zs_menu_link
{
	margin: 0px;
	padding-right: 4px;
}

a.zs_menu_link
{
	font-family: verdana,sans-serif;
	font-size: small;
	cursor: pointer;
	margin: 0px;
	border: solid #888;
	padding: 0px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: inline-block;
	overflow: visible;
	white-space: nowrap;
}

.menu_bar_item
{
	padding: 0px;
	margin: 0px;
}

a.zs_menu_link:hover, a.menu_bar_item:hover
{
	color: Blue;
	background-color: #E5E5E5;
	/*
	border: outset White;solid #888;*/
}

a.zs_menu_link:active, a.menu_bar_item:active
{
	background-color: White;
	/*
	border: inset White;
		*/
}
