

/* Fonts
======================================================================*/
body, input, select, textarea { font-family: Calibri, Arial, sans-serif; }


/* Basics
======================================================================*/
body { height: 100%; color: #58595b; font-size: 16px; line-height: 1.35; padding: 0; margin: 0;}
html { height: 100%; }
table { border-collapse: collapse; }
table p { margin: 0; }


#page {  }




#map_canvas { }
#map_canvas img { float: right; padding-bottom: 8px; }
#map_canvas h5 { clear: both; }





/* search */
input, select, textarea { color: #414042; font-size: 1em; }
textarea { height: 10em; }
#search { font-size: 16px; }
#search .txt { width: 50%; }


.btn {
	background: #4A7ABA;
	border: 1px solid #274976;
	color: #ffffff;
	font-weight: bold;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 0.3em 1.1em;
	margin-right: 0.5em;
	text-shadow: 1px 1px 1px #58595B;
	cursor: pointer;
}

