text,tspan
{
    font-size: 30px;
   
    font-weight:   700;
    line-height: 125%;
    letter-spacing: 0px;
    word-spacing: 0px;
    fill: dimgray;
    fill-opacity: 1;
    stroke:  none;
	font-family:   Arial Black;
	text-rendering: optimizeLegibility;
	font-variant: normal;
	-webkit-font-smoothing: antialiased;

    user-select: none;
}

h1
{
}

path
{
    opacity: 1;stroke: green;
    fill: none;
    stroke-width: 8;
    stroke-miterlimit: 4;
    stroke-dasharray: none;stroke-linejoin:round;stroke-linecap:butt;
}
path.path_mouse   {  opacity: .00;stroke-width: 80;      }
path.sel0   {   stroke: dimgray;  stroke-width: 8;      }
path.sel1  { stroke: blue; stroke-width: 12; }
path.sel2 { stroke: blueviolet;stroke-width: 12;  }
path.path_ol {
    stroke: dimgray;
    stroke-width: 12;
}

path.highlight    {   stroke: red;stroke-width: 12;       }
.trail_st {stroke-dasharray:15px,5px; }



.hide
{
	visibility: hidden;
	fill: none;
	stroke: none;
}
svg {
  
	border:none;
	
}
body {
    margin: 0;
}

.arrow1 path, .arrow2 path{ stroke-width: 8; stroke:green; fill: green; opacity:.6 ;visibility:hidden; }
.arrow1 , .arrow2   {  
 visibility:hidden; }
.dir1 .arrow1   {visibility:visible; }
.dir2 .arrow2   { visibility:visible; }
.highlight text { fill:red; }


table.info_table_show
{
display:block;
z-index:3;
top:200px;
left:400px;
position: fixed;
opacity: .8;
color:black;
 background-color:#eeeeee; 
border-radius:15px;
border: 1px solid gray;
   
}
table.info_table_hide
{
display:none;
position: fixed;
z-index:3;
}


.arrow
{
    stroke: red;
    opacity: 1;
    fill: none;
    stroke-width: 8;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
}  
