/*
$clr_head_top="#5b5"; 
$clr_head_bot="#8d8"; 
$clr_sub_bot="#cfc"; 
$clr_base_top="#eee"; 
$clr_base_bot="#aaa"; 
$clr_text="#222";
$clr_page_backround="#222";

$fnt_size_def= "18px";
$fnt_size_large= "24px";
$fnt_size_big= "20px";
    */



img.gallery {
	display: block;
	margin: auto;
	height: calc(100%);
}
#photopane 
{
	width: 400px;
	height: 400px;
	
}
#photopane h3 {
	padding: 0px;
	margin: 2px
}
img.gallery {
	width: auto;
	max-width:100%;
	height:auto;	
	max-height: 100%;
	margin: 5px;
}
img{

}

@media all and (min-height: 600px) and (min-width: 600px) {

	#photopane {width: 450px;height: 450px;}
	
}
@media all and (min-height: 700px) and (min-width: 700px) {

	#photopane {width: 500px;height: 500px;}
	
}
@media all and (min-height: 800px) and (min-width: 800px) {

	#photopane {width: 600px;height: 600px; }
}
@media all and (min-height: 900px) and (min-width: 900px) {

	#photopane {width: 700px;height: 700px; }
}
.large {
	font-size: 25px;
	text-align: left;
	font-weight: 400;
	margin-right: 60px;

	
    
}


.titlebar {
	background-color: #282;
	padding: 5px 20px 0 20px;
	border-width: 0px;
	margin: 0px;
	font-weight: 300;
	font-size: 18px;
	color:White;
	color: #eee;
	/*
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6a6), to(#8d8));
    background: -webkit-linear-gradient(top, #6a6, #8d8);
    background: -moz-linear-gradient(top,#6a6, #8d8);
    background: -ms-linear-gradient(top, #6a6, #8d8);
    background: -o-linear-gradient(top, #6a6, #8d8);*/
}

.titlebar_sub {
	color: #ddd;
	font-weight: 300;
	font-size: 18px;
	background-color: #282;
	border-width: 0px;
	padding: 10px 14px 5px;

}

.titlebar a {
	color: #ddd;
	padding: 5px 12px 5px;
	margin: 0px;
	top: 1%;
	position: relative;
	border-width: 0px;
	text-decoration: none;
}

.titlebar_sub a {
	color: #ddd;

	padding: 5px 14px 5px;
	margin: 0px;
	top: 1%;
	position: relative;
	border-width: 0px;
	text-decoration: none;
}

.titlebar a:hover,.titlebar_sub a:hover {
	text-decoration: none;
	color: #fff;

}

.tab_select {
	border-radius: 15px 15px 0 0;
	color: #333;
	font-weight: bold;
}

.subtab_select {
	background-color: #f8f8f8;
	border-radius: 15px 15px 0 0;
	color: #333;
}
a.subtab_select  {
	color: #333;
}
a.subtab_select:hover {
	color: #00f;
}
.fb_photo {
	width: 25%;
}

div.text_wrap {
	margin: 20px;
	height:auto ;
	min-height: 100%;
    padding-bottom: 40px;	
}

a.topic_selected {
	
}

p {
	text-align: left;
	margin-top: 4px;
}

img {
	padding: 0;
	margin: 0;
}

.photo_show {
	display: block;
	margin: auto;
	text-align: center;
}

.photo_hide {
	display: none;
}

.thumb p {
	display: inline;
}

span.thumb {
	display: none;
}

#statement {
	
}

.thumb {
	margin: 1px;
	padding: 1px;
}

.thumb img {
	margin: 1px;
	padding: 1px;
}
div.sidephoto
{
	display:inline;margin: 0 0 15px 15px; width: 45%;float: right;text-align:center;
}
div.sidephoto img
{
	width: 100%;
}
div.sidephoto p
{
	text-align:center;
}
.lowerpane {
	padding: 20px;
}

.gallery_set {
	margin-left: 20px;
	clear: both;
}

.gallery_set div {
	float: left;
	margin-left: 40px;
	text-align: center;
}
.exhibit h3 
{
	
	
}
.faq {
		vertical-align: middle;
}

.faq_bullet {
	font-size: 20px;
    padding:4px;
	vertical-align: text-top;

}

.faq_text {
		vertical-align: middle;
}

/* dog card */
td.dog_val {
	padding:1px;	
	padding-left: 20px;
}
table.doginfo
{
	margin:  10px 0 10px 0;
	
}

.tbl_dogcard
{
	border-top: 1px solid black; 
	border-bottom: 1px solid black; 
	margin: 0 10px 10px 0;
	
}

td.dog_label {
	color: #555;
}
td.dogbio {
	padding-top: 20px;
}
/* dog list */
.tbl_doglist h2 {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

.tbl_doglist {
	width: 100%;
	border: 0px;
}

td.dogthumb img {
	display:inline;
	width:200px;
}

td.td_doglist_info {
	width: 100%;
	padding: 10px;
}

tr.doglist {
	border: 0px;
	border-top: 4px solid #ccc;
}

.doglist td {
	border: 0px;
}

/*dog page */
.tbl_dogpage h2 {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.tbl_dogpage >td
{
		padding: 10px;	
}


