html {

	height:100%;
	margin: 0px;
	padding: 0px;
}
img {
	padding: 0;
	margin: 0;
}

div.sidephoto
{
	display:inline;margin: 0 0 15px 15px; width: 25%;float: right;text-align:center;
}
div.sidephoto img
{
	width: 100%;
}
div.sidephoto p
{
	text-align:center;
}

div.text_wrap {
	margin: 5px;
	margin-top: 30px;
}
table,tr,td {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	border-collapse: collapse;
}

a {
	text-decoration: none;
	color: #22D;
	cursor: pointer;
}

a:link,a:visited {
	color: #22D;
}

a:hover {
	color: #00f;
	text-decoration: underline;
}

body {
	background-color: #ddd;
	color: #333;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 100%;
	display: block;
	margin: 0px;
	padding: 0px;
	
}


/* MAP */

#map_canvas
{
	float:right;height: 300px; width:500px;
		max-width:100%;
	/*
	padding:0;
	margin:0;
	max-width:100%;
	*/
	
}
#page
{

	clear: both; margin: auto;  height: 90%;
}

#main {
	display: block;

	height: auto !important;
	height: 100%;
}


@media all and  (mmax-width: 600px) {

	
}
@media all and (min-height: 600px) and (min-width: 600px) {

	
}
@media all and (min-height: 700px) and (min-width: 700px) {

	
}
@media all and (min-height: 800px) and (min-width: 800px) {
	#page
	{
	
		 padding: 10px 20px 0 20px; 
	}
	#main {
		margin: 20px;
	}	
	
}
@media all and (min-height: 900px) and (min-width: 900px) {

}



#wrapper {
	background-color: #fff;
	width: 100%;
	max-width: 1200px;

	height:auto;
	min-height: 100%;

	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	
}

h1,h2,h3,h4,h5 {
	font-weight: 300;
}

h1 {
	font-size: 30px;
	color: #68c;
	margin-bottom: 0px;
	margin-top: 0px;
	padding:0;
}

h2 {
	font-size: 26px;
	text-transform: uppercase;
	color: #68c;	
}
h2 {
	font-size: 26px;
	
}

h3 {
	font-size: 22px;
	text-transform: uppercase;
	color: #68c;	
}

h4 {
	font-size: 18px;
	margin-bottom: 0px;
	margin-top: 0px;
}

h5 {
	font-size: 20px;

	/* text-decoration: underline;;
	
	*/
	text-transform: uppercase;	
	color: #68c;
	padding: 10px 0 0 0;
	margin:10px 0 0 0;
}


/* legislators */


/* list */

.person_name
{
	
}
div.leg_bio 
{
	clear:both;
	display:block;
	/*
	max-width:5%;
	*/
	
	
	
}
div.leg_thumb 
{
	
	display:inline-block;
	
	max-width:20%;
	
	
	
}
div.leg_thumb img
{

	width:100%;
	/*
	width:100px;
	max-width:15%;
	*/
	
}
tr.leglist {
	border: 0px;
	border-top: 4px solid #ccc;
}
.leglist > td {
	border: 0px;
}
.tbl_leglist {
	width: 100%;
	border: 0px;
}
.tbl_leglist img{
	display:inline;
	width:150px;
}
.tbl_leglist h2 {
		margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.tbl_leglist hr {
	border-top: 4px solid #ccc;
}
/* info page */
.leg_val {
	padding:1px;	
	padding-left: 20px;
}
.leg_label {
	color: #555;
}
.leg_info {
	display:inline-block;
		
	padding: 10px;
}
.leg_info table {
	margin:  10px 0 10px 0;
}

/* vote history */
.votegood
{
	color: green;
}

.votebad
{
	color: red;
}
table.votes 
{
	padding: 10px;	
	margin:10px;
	
}
table.votes td
{
	padding: 10px;	
}
table.votes tr:nth-of-type(even) {

	background-color: #ddd;
}
table.votes tr:nth-of-type(odd) {

	background-color: #eeeef8;
}