
.zs_menu_bar,.zs_menu, .zs_menu_sub,.zs_menu_bar
{
margin: 0;
padding: 0;
list-style: none;	
box-sizing: border-box;	
	
}
.zs_menu_bar
{
	width:100%;
	display: block;	
	clear: both;
	box-sizing: border-box;	
	background-color: #68c;	
	
}
.zs_menu_bar a:hover
{
	text-decoration: none;
	color: #fff;
	background-color: #8ae;		
}
.zs_menu_bar a
{
	background-color: #68c;
	cursor: pointer;
	color: #eee;
	user-select: none;
	font-weight: 300;
	font-size: 18px;	
	border-spacing: 0px;
	text-align: left;	
	padding: 10px;	
	display: inline-block;		
}

.zs_menu_bar li
{
	display: inline-block;	
	border-right: 1px groove White;	
	
}
.zs_menu, .zs_menu_sub
{
	clear: both;
	position: absolute;
	display: none; 
	z-index: 1;

}
.zs_menu a,.zs_menu li
{
		display: block;	
	
}

.zs_menu_item 
{
		display: list-item;	
	
}

